crumbs/node_modules
backups/
sandbox/
crack/
mailing/
transfer/
transfermaterial/
project_link/
*.log
*.config
crumbs/config.json
.bash_history
.bash_logout
.bashrc
.cache/
.cloud-locale-test.skip
.dbshell
.mailrc
.mongorc.js
.msmtprc
.node-gyp/
.npm/
.profile
.ssh/
.vim/
.viminfo
.vimrc
.gitconfig

