<li style="background-color:#FFA6AB"> Long River Artists
	<ul>
				<li class="shoppingitem"> <span data-imgpath="mattbrown.jpg" class="shoppingitemname"> <a class="artistlink" href="https://hangaprints.com/gallery/recent/?display=grid&print_id=above_king_ravine">Matt Brown</a></span><span class="shoppingprice"></span></li>
							<li class="shoppingitem"> <span data-imgpath="case.jpg" class="shoppingitemname"> <a class="artistlink" href="http://theuppervalley.com/events/art-and-jewelry-openingwine-tasting-at-long-river-studios-gallery-gifts-lyme-nh/">Case Hathaway-Zepeda '09</a> </span></li>
										<li class="shoppingitem"> <span data-imgpath="lynn.jpg" class="shoppingitemname"> <a class="artistlink" href="www.lynnadams-metalsmith.com">Lynn Adams</a> </span></li>
													<li class="shoppingitem"> <span data-imgpath="sandra.jpg" class="shoppingitemname"> <a class="artistlink" href="http://sandrabomhowerjewelry.com">Sandra Bomhower</a> </span></li>
																<li class="shoppingitem"> <span data-imgpath="isobel.jpg" class="shoppingitemname"> <a class="artistlink" href="www.isobelcochran.com">Isobel Cochran</a> </span></li>
																			<li class="shoppingitem"> <span data-imgpath="micki.jpg" class="shoppingitemname"> <a class="artistlink" href="http://openmuseum.org/collection/show/44">Micki Colbeck</a> </span></li>
																						<li class="shoppingitem"> <span data-imgpath="keita.jpg" class="shoppingitemname"> <a class="artistlink" href="http://www.keitacolton.com/">Keita Colton</a> </span></li>


																								</ul>
																									</li>
